<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Index</title>
</head>

<body>
<!-- Page Content -->
<div layout:fragment="content" th:remove="tag">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a th:href="@{/}"><i class="fa fa-dashboard fa-fw"></i>Profitability</a>
                </li>
                <li>
                    <a class="text-success"  th:href="@{'/projects/' + ${project.id} + '/eems/create'}">Create energy efficiency measure</a>
                </li>
                <li>
                    <a class="text-success" th:href="@{/projects}">Project list</a>
                </li>
                <li>
                    <a class="text-success" th:href="@{'/projects/' + ${project.id} + '/update'}">Edit project input data</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header text-center">Energy Efficiency Measures Profitability</h1>
                <p class="bg-info text-center text-danger" th:if="${error != null}" th:text="${error}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center">Project <span class="text-primary" th:text="${project.title}"></span></h3>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body justify-content-center">
                        <h4 th:if="${#lists.isEmpty(project.eems)}" class="text-primary text-center ">
                            No energy efficiency measures
                        </h4>
                        <div class="table-responsive">
                            <table th:if="${project.eems != null} AND ${not#lists.isEmpty(project.eems)}"
                                   class="table table-striped table-bordered table-hover ">
                                <thead>
                                <tr >
                                    <th class="align-middle text-center">EEM name<br> </th>
                                    <th class="align-middle text-center">Initial investments,<br>USD</th>
                                    <th class="align-middle text-center">Net savings,<br>USD</th>
                                    <th class="align-middle text-center">Economic lifetime,<br>years</th>
                                    <th class="align-middle text-center">Pay Back (PB),<br>years</th>
                                    <th class="align-middle text-center">Pay Off (PO),<br>years</th>
                                    <th class="align-middle text-center">IRR,<br>%</th>
                                    <th class="align-middle text-center">NPV,<br>USD</th>
                                    <th class="align-middle text-center">NPVQ<br> </th>
                                    <th class="align-middle text-center" colspan="2">Action<br> </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="eem: ${project.eems}">
                                    <td class="text-right" th:text="${eem.name}"></td>
                                    <td class="text-right" th:text="${eem.InputEEMData?.initialInvestment}"></td>
                                    <td class="text-right" th:text="${eem.ResultEEMData?.netSavings}"></td>
                                    <td class="text-right" th:text="${eem.InputEEMData?.economicLifeTime}"></td>
                                    <td class="text-right" th:text="${eem.ResultEEMData?.payBack}"></td>
                                    <td class="text-right" th:text="${eem.ResultEEMData?.payOff}"></td>
                                    <td class="text-right" th:text="${eem.ResultEEMData?.internalRateOfReturn}"></td>
                                    <td class="text-right" th:text="${eem.ResultEEMData?.netPresentValue}"></td>
                                    <td class="text-right" th:text="${eem.ResultEEMData?.netPresentValueQuotient}"></td>
                                    <td>
                                        <a class="btn btn-sm btn-warning btn-block"  th:href="@{'/projects/' + ${project.id} + '/eems/' + ${eem.id} + '/update'}">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{'/projects/' + ${project.id} + '/eems/' + ${eem.id}}">
                                            <input type="hidden" name="_method" value="delete">
                                            <input class="btn btn-sm btn-danger btn-block" type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>